 @import url("https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap");

@font-face {
  font-family: "digital-clock-font";
  src: url(".//digital-7.regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-image: linear-gradient(to left, #74ddeb, #21ce99);
 background-image: ;
  font-family: "Rubik", sans-serif;
}

.main-body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.counter {
  font-family: "digital-clock-font";
  font-size: 8rem;
  color: #002435;
}

.button {
  font-weight: 400;
  color: white;
  border: 2px solid #002435;
  background-color: #002435;
  box-shadow: 2px 1px 5px hsl(229, 8%, 60%);
  padding: 0.9rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.7s ease;
  letter-spacing: 0.1rem;
  font-weight: bold;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: #002435;
}

.button:active {
  position: relative;
  top: 1px;
}


.lineChart {
  height: 500px;
  width:500px;
  background-color: #f7fcfa;
}

.chart-container{
padding: 2rem 0.5rem 2rem 0.5rem;  
transition:  all 3s ease-in-out;
}

.figureBack{
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

.button-stadistics{
  margin-left : 2rem;

}